---
import { getLocalizedRoute } from "@/js/translationUtils";
import { Image } from "astro:assets";

import Dashboard from "@images/headers/dashboard-min.png";

// components
import Button from "@/components/button/Button.astro";

// utils
import { getLocaleFromUrl } from "@/js/localeUtils";
import { useTranslations } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section id="hero-center-dashboard" class="-mt-23 overflow-hidden pt-23">
  <div class="relative pt-20 pb-24 lg:pb-32">
    <div class="site-container relative mx-auto px-4">
      <div class="flex flex-col items-center">
        <!-- Text Content - Centered -->
        <div class="relative z-10 mb-12 text-center md:mb-20">
          <div data-mos="fade-up" data-mos-anchor="#hero-center-dashboard">
            <span
              class="text-primary-accent mb-2.5 inline-block text-sm font-medium tracking-tighter"
              >Zenith Card</span
            >
            <h1
              class="font-heading xl:text-10xl mx-auto mb-8 max-w-4xl text-7xl tracking-tighter lg:text-8xl"
            >
              {t("hero_text")}
            </h1>
          </div>
          <p
            class="mx-auto mb-10 max-w-md text-lg opacity-80"
            data-mos="fade-up"
            data-mos-anchor="#hero-center-dashboard"
            data-mos-delay=".15"
          >
            {t("hero_description")}
          </p>
          <div
            class="mx-auto flex items-center justify-center gap-4"
            data-mos="fade-up"
            data-mos-anchor="#hero-center-dashboard"
            data-mos-delay=".3"
          >
            <Button href={getLocalizedRoute(currLocale, "/sign-up")}>Start now for free</Button>
            <Button variant="outline" href={getLocalizedRoute(currLocale, "/sign-in")}
              >Log in</Button
            >
          </div>
        </div>

        <!-- Image Below -->
        <div class="w-full max-w-6xl">
          <Image
            class="tilt-card mx-auto"
            src={Dashboard}
            alt="Zenith Dashboard"
            quality={100}
            densities={[1.5, 2]}
            loading="eager"
            data-mos="fade-in"
            data-mos-anchor="#hero-center-dashboard"
            data-mos-delay="1"
            data-mos-duration="1.2"
          />
        </div>
      </div>
    </div>
  </div>
</section>
