/**
 * * Tailwind theme settings
 * 
 * These are in a separate file so it can be imported into <style> tags in .astro components
 */
@theme {
  /* cosmic themes theme config */
  /* primary colors. Can generate with https://uicolors.app/create, then convert to oklch with https://oklch.com/ */
  --color-primary-50: oklch(99.14% 0.0352 110.48);
  --color-primary-100: oklch(98.12% 0.0758 112.52);
  --color-primary-200: oklch(96.63% 0.1362 114.89);
  --color-primary-300: oklch(94.86% 0.1941 118.46);
  --color-primary-400: oklch(93.07% 0.228585 123.0902);
  --color-primary-500: oklch(85.71% 0.214 124.48);
  --color-primary-600: oklch(72.27% 0.18295 130);
  --color-primary-700: oklch(58.84% 0.148573 134);
  --color-primary-800: oklch(49.52% 0.1216 136);
  --color-primary-900: oklch(44.02% 0.1051 138);
  --color-primary-950: oklch(34% 0.05 140);

  /* base colors */
  --color-base-50: oklch(97.31% 0 0);
  --color-base-100: oklch(92.8% 0 0);
  --color-base-200: oklch(86.07% 0 0);
  --color-base-300: oklch(75.72% 0 0);
  --color-base-400: oklch(62.68% 0 0);
  --color-base-500: oklch(53.48% 0 0);
  --color-base-600: oklch(47.84% 0 0);
  --color-base-700: oklch(39.65% 0 0);
  --color-base-800: oklch(33.04% 0 0);
  --color-base-900: oklch(28% 0 0);
  --color-base-950: oklch(20% 0 0);

  --color-blueGray-50: oklch(97.19% 0.0025 228.78);
  --color-blueGray-100: oklch(92.62% 0.0042 236.5);
  --color-blueGray-200: oklch(85.75% 0.0096 242.86);
  --color-blueGray-300: oklch(75.29% 0.0164 248.05);
  --color-blueGray-400: oklch(61.84% 0.0254 252.29);
  --color-blueGray-500: oklch(52.62% 0.0265 252.34);
  --color-blueGray-600: oklch(46.86% 0.0219 258.37);
  --color-blueGray-700: oklch(38% 0.0175 254.72);
  --color-blueGray-800: oklch(30% 0.0146 264.39);
  --color-blueGray-900: oklch(24% 0.0102 253.97);
  --color-blueGray-950: oklch(17% 0.0102 253.97);

  /* other theme tailwind utilities */
  --tracking-2xl: -0.48px;
  --tracking-3xl: -0.64px;
  --tracking-4xl: -2px;
  --tracking-5xl: -0.96px;
  --tracking-6xl: -1.44px;
  --tracking-7xl: -1.86px;
  --tracking-8xl: -3.6px;

  --radius-5xl: calc(var(--radius) + 1.275rem);

  /* font families */
  --font-fallback:
    "ui-sans-serif", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica",
    "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-heading: "Clash Grotesk", var(--font-fallback);
  --font-sans: "Clash Grotesk", var(--font-fallback);
  --font-mono:
    "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono",
    "Courier New", "monospace";

  /* starwind and cosmic themes animations */
  --animate-accordion-down: accordion-down 0.3s ease-out;
  --animate-accordion-up: accordion-up 0.3s ease-out;
  --animate-marquee: marquee 70s linear infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--starwind-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--starwind-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 8rem));
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

/* "inline" option is necessary here https://github.com/tailwindlabs/tailwindcss/discussions/15122#discussioncomment-11356322 */
@theme inline {
  /* starwind utilities setup */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-outline: var(--outline);

  --radius-xs: calc(var(--radius) - 0.375rem);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --radius-2xl: calc(var(--radius) + 0.5rem);
  --radius-3xl: calc(var(--radius) + 1rem);
}
