---
import type { TestimonialItem } from "@/config/types/configDataTypes";

interface Props {
 testimonial: TestimonialItem;
}

const { testimonial } = Astro.props;
---

<div class="swiper-slide">
 <div class="max-w-2xl">
  <h3 class="font-heading mb-12 text-xs leading-snug tracking-tighter lg:text-xs">
   "{testimonial.testimonial}"
  </h3>
  <h4 class="font-medium tracking-tight">{testimonial.name}</h4>
  <span class="mb-8 inline-block text-xs lg:mb-0">{testimonial.title}</span>
 </div>
</div>
